/* Header Area  */
.navbar {
    padding: 0 !important;
    position: relative;
  }
  .nav__link {
    font-size: 16px;
    font-weight: 800;
    transition: all .5s;
  }
  .nav__link:hover {
    border-bottom: 5px solid #d9b2ff;
  }
  
  .cart__icon {
    position: relative;
  }
  .cart__quantity {
    position: absolute;
    top: 2px;
    margin-left: 2px;
    font-family: "Poppins", sans-serif;
  }
  .shop__btn {
    width: 220px !important;
    height: 55px !important;
    border-radius: 0 !important;
    line-height: 34px !important;
  }
  .far {
    color: #ffffff !important  ;
    font-size: 20px !important;
  }
  /* End Header Area  */